@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.error-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-shadow: 
        3px 3px 0px #C64740, 
        -3px -3px 0px #C64740, 
        3px -3px 0px #D9D9D9, 
        -3px 3px 0px #D9D9D9;
}

.error-message {
    font-size: 1.5rem;
    color: #D9D9D9;
}

.error-link {
    font-size: 1.2rem;
    color: #C64740;
    border: 2px solid #C64740;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.error-link:hover {
    background-color: #C64740;
    color: #452325;
}
