/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    background-color: #1f1f1f; /* Fondo principal */
    color: #D9D9D9; /* Texto principal */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* Estilos del Nav */
nav {
    width: 100%;
    background-color: #C64740; /* Color principal */
    display: flex;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título a la izquierda */
.nav-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 20px; /* Espacio entre el título y los enlaces */
}

.nav-title #spezial {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

/* Enlaces del nav */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px; /* Espacio entre enlaces */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: #D9D9D9;
    text-decoration: underline;
}

/* Contenedor principal */
.container {
    margin-top: 80px; /* Para evitar que el contenido quede oculto por el nav fijo */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #FFFFFF; /* Títulos en blanco */
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

a {
    font-size: 1.2rem;
    color: #C64740;
    text-decoration: none;
    border: 2px solid #C64740;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

a:hover {
    background-color: #C64740;
    color: #452325;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #D9D9D9;
    text-align: center;
    padding: 10px 0;
}